.container {
    display: flex;
    max-width: 100px;
    margin: 3rem auto;
    flex-wrap: wrap;

}

.item-cart img{
    width: 200px;
    margin: 1rem;
}

.boton-borrar {
    background-color: rgb(255, 42, 0);
    padding: 15px;
    border: none;
    border-radius: 5px;
    width: auto;
    height: auto;
}

/*.info-producto {
    display: flex;
    justify-content: flex-start;
}*/
