.item-cart {
    display: flex;
    max-width: 100px;
    margin: 1rem auto;
}

.item-cart img{
    width: 200px;
    margin: 1rem;
}

.boton-borrar {
    background-color: aqua;
    padding: 15px;
    border: none;
}