
.container{
    background-color: black;
    color:azure;
    display: flex;
    justify-content: space-around;
    /*margin: 0;
    margin-right: 0;
    padding: 0;*/
    width: 3050px;
    
}

.titulo h1{
    font-size: large;
    padding-top: 15px;
}

.menu li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    padding-top: 15px;
}

div#root{
    width: 100vw;
}
