*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /*background: url(https://i.pinimg.com/564x/1c/ad/5c/1cad5ca4019b00d29b5516f5379936ce.jpg);*/
  /*background-image: url('./img/fondito.jpg');
  background-repeat: no-repeat;
  background-size: cover;*/
}

body {
  background-image: url('./components/imagenes/fondito.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

